@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #293742;
}

div.debug-header {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: rgb(75 85 99);
  text-align: center;
  z-index: 10000;
}

div.sticky-header {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
